@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client
@using Blazorise;
@using ChatApp.Application.Entities;
@using static ChatApp.Application.Hubs.Protocol;
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Chat</PageTitle>

<Layout>
    <LayoutHeader>
        <Divider />
    </LayoutHeader>
    <LayoutContent>
        <ul id="messagesList">
            @foreach (var message in messages)
            {
                <ListGroup>
                    <ListGroupItem Color="@getMessageColor(message)">@($"{message.SenderHandle}: {message.Content}")</ListGroupItem>
                </ListGroup>
            }
        </ul>
    </LayoutContent>
    <LayoutFooter>
        <div class="form-group" style="text-align: center;">
            <Field @bind-Text="messageInput" Disabled="@(!IsConnected)">Type your message</Field>
            <input @bind="messageInput" size="50" />
            <Button Color="Color.Primary" disabled="@(!IsConnected)" Clicked="@NewMessage">Send</Button>
        </div>

        <Divider />

    </LayoutFooter>
</Layout>


<Modal @ref="userHandleInputRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Handle</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>your Handle</FieldLabel>
                <TextEdit @bind-Text="@handle" Placeholder="Enter your chat handle..." />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@Join">Join</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="errorModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Error</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <Text>There was an error connecting to the chat server.</Text>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@Join">Join</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<hr>





@code {
    private Modal errorModalRef;
    private Modal userHandleInputRef;
    private HubConnection? hubConnection;
    private List<Message> messages = [];
    private string? handle;
    private string? messageInput;

    private Blazorise.Color getMessageColor(Message message) => message.SenderHandle == handle ? Blazorise.Color.Primary : Blazorise.Color.Default;
    private Task ShowModal()
    {
        return userHandleInputRef.Show();
    }

    private async Task Join()
    {
        await hubConnection.SendAsync(MessageTypes.Join.ToString(), handle);
        await userHandleInputRef.Hide();
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
        .Build();


        hubConnection.On<Message>(MessageTypes.NewMessage.ToString(), async (message) =>
        {
            messages.Add(message);
            await InvokeAsync(StateHasChanged);
        });

        hubConnection.On<UserInfo>(MessageTypes.UserInfo.ToString(), async (userInfo) =>
        {
            messages = userInfo.Messages.ToList();
            await InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();

        await userHandleInputRef.Show();

    }

    private async Task ShowErrorModal()
    {
        await errorModalRef.Show();
    }

    private async Task NewMessage()
    {
        if (hubConnection is null) await ShowErrorModal();

        await hubConnection!.SendAsync(MessageTypes.NewMessage.ToString(), new Message
        {
            Content = messageInput,
        });
    }

    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is null) return;
        await hubConnection.SendAsync(MessageTypes.Offline.ToString());
        await hubConnection.DisposeAsync();
    }
}
